body, body * {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

canvas {
  position: relative;
  display: inline-block;
  width: 33vw;
  height: 100vh;
}
#canvas2 {
  z-index: 60;
}
#canvas3 {
  z-index: 70;
}
#canvas4 {
  z-index: 80;
}
